{% extends 'transport_app/base.html' %}
{% block content %}
<div class="animate__animated animate__fadeIn">
    <h2 class="fw-bold text-primary mb-4">Terms & Conditions</h2>
    <div class="text-light-blue-50 small">
        <p>1. Users must present a valid Digital Transport Pass upon boarding.</p>
        <p>2. Respectful behavior towards staff and fellow passengers is mandatory.</p>
        <p>3. The university is not responsible for lost personal items on the bus.</p>
    </div>
</div>
{% endblock %}